.modal .payment-choice {
    display: flex;
    margin: 5px;
    p {
      padding-right: 25px;
      margin-left: 10px;
    }
  }
  
  
  #CarModal {
  
    .modal-body {
      display: grid;
      grid-template-rows: 1fr;
      font-family: "Raleway", sans-serif;
      // background-color: #df7c7c;
      background: rgb(154,0,0);
      background: linear-gradient(180deg, rgba(154,0,0,0.8603816526610644) 0%, rgba(255,90,114,1) 50%, rgba(145,0,0,0.8491771708683473) 100%);
  
  }
  h3 {
      font-size: 0.7em;
      letter-spacing: 1.2px;
      color: grey;
  }
  
  img {
    max-width: 100%;
    filter: drop-shadow(3px 5px 3px rgb(5, 5, 5));
  }

  }
  
  /* ----- Product Section ----- */
  .product {
      display: grid;
      grid-template-columns: 0.9fr 1fr;
      margin: auto;
      padding: 2.5em 0;
      max-width: 850px;
      background-color: white;
      border-radius: 5px;
  }
  
  
  .product__photo {
      position: relative;
  }
  
  .photo-container {
      position: absolute;
      left: -2.5em;
      display: grid;
      grid-template-rows: 1fr;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  }
  
  .photo-main {
      border-radius: 6px 6px 0 0;
      background-color: #a9ad9f;
      background: radial-gradient(#ff8e8e, #bd2121);
  }
  
  
  
  .product__info {
      padding: 0.8em 0;
  }
  
  .title {
      h1 {
          margin-bottom: 0.1em;
          color: #b13d3d;
          font-size: 1.5em;
          font-weight: 900;
      }
  
      span {
          font-size: 0.7em;
          color: grey;
      }
  }
  .errorMessage{
    display: block;
    color: red;
  }
  .hidden{
    display: none;
  }
  
  .result{
    margin-right: 20px;
  }
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   margin: 5px;
  // }
  
  .modal .payment-choice p {
    padding-right: 25px;
    margin-left: 10px;
  }
  
  #CarModal .modal-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    font-family: "Raleway", sans-serif;
    background: #9a0000;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(154, 0, 0, 0.860382)), color-stop(50%, #ff5a72), to(rgba(145, 0, 0, 0.849177)));
    background: linear-gradient(180deg, rgba(154, 0, 0, 0.860382) 0%, #ff5a72 50%, rgba(145, 0, 0, 0.849177) 100%);
  }
  
  #CarModal h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: grey;
  }
  
  #CarModal img {
    max-width: 100%;
    -webkit-filter: drop-shadow(3px 5px 3px #050505);
            filter: drop-shadow(3px 5px 3px #050505);
  }
  
  /* ----- Product Section ----- */
  .product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.9fr 1fr;
        grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    min-width: 600px;
    background-color: white;
    border-radius: 5px;
  }
  
  .product__photo {
    position: relative;
  }
  
  .photo-container {
    position: absolute;
    left: -2.5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  }
  
  .photo-main {
    border-radius: 6px 6px 0 0;
    background-color: #a9ad9f;
    background: radial-gradient(#ff8e8e, #bd2121);
  }
  
  .photo-main img {
    position: absolute;
    left: -4em;
    top: 12em;
    max-width: 110%;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: -webkit-transform .7s;
    transition: -webkit-transform .7s;
    transition: transform .7s;
    transition: transform .7s, -webkit-transform .7s;
  }
  
  .photo-main :hover {
    -webkit-transform: scale(1.20);
            transform: scale(1.20);
  }
  
  .product__info {
    padding: 0.8em 0;
  }
  
  .title h1 {
    margin-bottom: 0.1em;
    color: #b13d3d;
    font-size: 1.5em;
    font-weight: 900;
  }
  
  .title span {
    font-size: 0.7em;
    color: grey;
  }

//modal 
.errorMessage{
  display: block;
  color: red;
}
.hidden{
  display: none;
}

.result{
  margin-right: 20px;
}


